<style>
	<body>
		background-image: url("concrete-texture.png");

	</body>

	.header{
		height:60px;
		background:white;
		border-color:black;
		border:5px;
	}
	h1{
		color:white;
		background: #4aaaa5;
		width:50%;
		height:60px;
		text-align: center;
		float:left;
		border: 1px solid black;
	}

	.page-list{
		float:left;
		width:50%;
		margin:10px;
	}

	h2{
		color:#4aaaa5;
	}
	


	.bio-box{
		background: white;
		height:300px;
		width:50%;
		float:left;
		border: 1px solid black;
	}

	.connect-box{
		width:40%;
		float: left;
		border: 1px solid black;
	}


	.footer{
		background: #666666;
	}

</style>